.search-container {
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
}


.search-input {
    padding: 15px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #ccc;
}

#search-form {
    display: inline-block;
}

.search-button {
    padding: 17px 20px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 40px;
    cursor: pointer;

}


.literature-item {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 68%;
    margin-left: 40px;
    box-shadow: 5px 5px 10px 0px lightgray;
}

.literature-item h2 {
    color: black;
    text-align: left;
}

.literature-item p {
    color: lightslategray;
    text-align: left;
    text-indent: 2em;

}

.pagination {
    text-align: center;
    margin-top: 20px;
}


.pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
    background-image: url("/static/images/index_background.png");
    background-size: cover;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: lightblue;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn i {
    margin-right: 5px;
}

.chatbot-container {
    width: 300px;
    height: 400px;
    border: 1.5px solid #151515;
    border-radius: 5px;
    overflow: hidden;
    float: right;
}

.chatbot-window {
    height: 85%;
    padding: 10px;
    overflow-y: scroll;
}

.chatbot-messages {
    margin-bottom: 10px;
}

.chatbot-input {
    display: flex;
    padding: 10px;
}

.chatbot-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.chatbot-input button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #5ed5b5;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.chatbot-input button:hover {
    background-color: #45a049;
}

.denglubtn {
    position: absolute;
    top: 25px;
    right: 30px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px

}

.denglubtn a {
    padding-top: 10px;
    text-decoration: none;
    width: 70%;
}

.denglubtn b {
    display: block;
    padding-top: 20px;
    font-size: 17px;
    color: #212121;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {

    background-color: #000000;
    border-radius: 5px;
}

.top-container {
    padding: 10px;
    text-align: left;
    background-color: transparent;
}

.top-container a {
    text-decoration: none;
    margin: 10px;
    color: lightgray;
    font-weight: bold;
    font-size: 15px;
}

nav {
    border-radius: 5px;
    margin-left: 25px;
    height: 60px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    width: 69%


}

nav a {
    text-decoration: none;
    color: #6c6969;
    font-size: 30px;
}

main {
    padding: 20px;
}

footer {
    background-color: #414142;
    color: white;
    padding: 10px;
    text-align: center;
}

