<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ TI }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/detailed_information.style.css">
</head>

<body>
<header>
    <div class="top-container">
        <div>
            <a href="/index">首页</a>
            <a href="/index">开放平台</a>
            <a href="/index">科研热点</a>
            <a href="/index">期刊顶会</a>
        </div>
        <div class="user-profile">
            <div class="logged-in-info">
                <div class="username"><i class="fas fa-user"></i>已登录：{{ username }}</div>
                <div class="dropdown-content">
                    <a href="/history">浏览历史</a>
                    <a href="#">个人主页</a>
                    <a href="#">我的关注</a>
                    <a href="/logout">退出登录</a>
                </div>
            </div>
        </div>
    </div>

    <h1>AI智能文献搜索</h1>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="搜索作者、标题...">
        <button type="submit" class="search-button"><i style="font-size: 150%;" class="fas fa-search"></i></button>
    </div>
</header>


<div class="main-container">
    <div id="summary-container">
        <h1 id="TI"></h1>
        <p>文献摘要:</p>
        <p id="AB"></p>
        <a id="read-original">阅读原文</a>
    </div>

    <div class="main-title-container">
        <div class="left-column">
            <p >作者：</p>
            <p>页数：</p>
            <p>出版日期：</p>
            <p>类别：</p>
            <p>研究方向：</p>
            <p>引用的参考文献数：</p>
            <p>被引用次数(180天):</p>
            <p>被引用次数(2013年至今):</p>
            <p>会议标题：</p>
            <p>会议日期：</p>
            <p>会议地点：</p>
            <p>会议赞助方：</p>
            <p>会议主办方：</p>
        </div>
        <div class="right-column">
            <p id="AU"></p>
            <p id="PG"></p>
            <p id="PD"></p>
            <p id="WC"></p>
            <p id="SC"></p>
            <p id="NR"></p>
            <p id="U1"></p>
            <p id="U2"></p>
            <p id="CT"></p>
            <p id="CY"></p>
            <p id="CL"></p>
            <p id="SP"></p>
            <p id="HO"></p>
        </div>
    </div>

    <div id="source-tree-container">
        <h1>溯源树</h1>
        主题树
    </div>


</div>


<footer>
    &copy; 2023 文献搜索. All rights reserved.
</footer>

<script>
    var jsonData = {{ details.json | safe }};

    document.getElementById("TI").innerHTML = jsonData.TI;
    document.getElementById("AU").innerHTML = jsonData.AU;
    document.getElementById("PG").innerHTML = jsonData.PG;
    document.getElementById("PD").innerHTML = jsonData.PY +' '+ jsonData.PD;
    document.getElementById("WC").innerHTML = jsonData.WC;
    document.getElementById("SC").innerHTML = jsonData.SC;
    document.getElementById("NR").innerHTML = jsonData.NR;
    document.getElementById("U1").innerHTML = jsonData.U1;
    document.getElementById("U2").innerHTML = jsonData.U2;
    document.getElementById("CT").innerHTML = jsonData.CT;
    document.getElementById("CY").innerHTML = jsonData.CY;
    document.getElementById("CL").innerHTML = jsonData.CL;
    document.getElementById("SP").innerHTML = jsonData.SP;
    document.getElementById("HO").innerHTML = jsonData.HO;
    document.getElementById("AB").innerHTML = jsonData.AB;
    // 构建原文链接
    var originalLink = "https://webofscience.clarivate.cn/wos/woscc/full-record/" + jsonData.UT;
    document.getElementById("read-original").href = originalLink; // 将链接赋给 <a> 元素的 href 属性
</script>
</body>
</html>