<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ TI }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/detailed_information.style.css">
</head>

<body>
<header>
    <div class="top-container">
        <div>
            <a href="/index">首页</a>
            <a href="/index">开放平台</a>
            <a href="/index">科研热点</a>
            <a href="/index">期刊顶会</a>
        </div>
        <div class="user-profile">
            <div class="logged-in-info">
                <div class="username"><i class="fas fa-user"></i>已登录：{{ username }}</div>
                <div class="dropdown-content">
                    <a href="#">浏览历史</a>
                    <a href="#">个人主页</a>
                    <a href="#">我的关注</a>
                    <a href="/logout">退出登录</a>
                </div>
            </div>
        </div>
    </div>

    <h1>AI智能文献搜索</h1>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="搜索作者、标题...">
        <button type="submit" class="search-button"><i style="font-size: 150%;" class="fas fa-search"></i></button>
    </div>
</header>

<div class="main-container">
    <div class="main-title-container">
        <div class="left-column">
            <p>作者：</p>
            <p>页数：</p>
            <p>出版日期：</p>
            <p>类别：</p>
            <p>研究方向：</p>
            <p>引用的参考文献：</p>
            <p>引用的参考文献数：</p>
            <p>被引用次数(180天):</p>
            <p>被引用次数(2013年至今):</p>
            <p>会议标题：</p>
            <p>会议日期：</p>
            <p>会议地点：</p>
            <p>会议赞助方：</p>
            <p>会议主办方：</p>
        </div>
        <div class="right-column">
            <p>{{ AU }}</p>
            <p>{{ PG }}</p>
            <p>{{ PD }}</p>
            <p>{{ WC }}</p>
            <p>{{ SC }}</p>
            <p>{{ CR }}</p>
            <p>{{ NR }}</p>
            <p>{{ U1 }}</p>
            <p>{{ U2 }}</p>
            <p>{{ CT }}</p>
            <p>{{ CY }}</p>
            <p>{{ CL }}</p>
            <p>{{ SP }}</p>
            <p>{{ HO }}</p>
        </div>
    </div>

    <div id="summary-container">
        <h1>{{ TI }}</h1>
        <p>文献摘要:{{ AB }}</p>
        <a href="https://webofscience.clarivate.cn/wos/woscc/full-record/{{ UT }}">阅读原文</a>
    </div>

    <div id="source-tree-container">
        <h1>溯源树</h1>
        主题树
    </div>


</div>


<footer>
    &copy; 2023 文献搜索. All rights reserved.
</footer>

<script>

</script>
</body>
</html>