<div class="main-container">
    <div class="creators">
        <div class="creator">
            <img src="/static/images/developer1.bmp" alt="刘宇昊">
            <h3>刘宇昊</h3>
            <p></p>
        </div>
        <div class="creator">
            <img src="/static/images/developer2.bmp" alt="周洪田">
            <h3>周洪田</h3>
            <p></p>
        </div>
        <div class="creator">
            <img src="/static/images/developer5.bmp" alt="吴浏宇">
            <h3>吴浏宇</h3>
            <p></p>
        </div>
        <div class="creator">
            <img src="/static/images/developer4.bmp" alt="王浚弛">
            <h3>王浚弛</h3>
            <p></p>
        </div>
        <div class="creator">
            <img src="/static/images/developer3.bmp" alt="陈梓博">
            <h3>陈梓博</h3>
            <p></p>
        </div>

    </div>
</div>