<div class="main-container">
    <div class="creators">
        <div class="creator">
            <img src="/static/images/developer1.bmp" alt="刘宇昊">
            <p>刘宇昊</p>
            <p></p>
        </div>
        <div class="creator">
            <img src="/static/images/developer2.bmp" alt="周洪田">
            <p>周洪田</p>
            <p>
                dsadasd
            </p>
        </div>
        <div class="creator">
            <img src="/static/images/developer5.bmp" alt="吴浏宇">
            <p>吴浏宇</p>
            <p>
                dsadasd
            </p>
        </div>
    </div>
    <div class="creators">
        <div class="creator">
            <img src="/static/images/developer4.bmp" alt="王浚弛">
            <p>王浚弛</p>
            <p>
                dsadasd
            </p>
        </div>
        <div class="creator">
            <img src="/static/images/developer3.bmp" alt="陈梓博">
            <p>陈梓博</p>
            <p>
                dsadasd
            </p>
        </div>
    </div>
</div>