
<div class="main-container">
    <div class="left-column">
        <details style="padding:0;;padding-left:0px;" open="">
            <summary class="md-toc-link-wrapper">
                <a href="#糖式组文献搜索网站的开发及使用文档" class="md-toc-link">
                    <p>糖式组文献搜索网站的开发及使用文档</p>
                </a>
            </summary>
            <div>
                <div class="md-toc-link-wrapper"
                    style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                    <a href="#简介" class="md-toc-link">
                        <p>简介</p>
                    </a>
                </div>
                <details style="padding:0;;padding-left:24px;" open="">
                    <summary class="md-toc-link-wrapper">
                        <a href="#开发部分" class="md-toc-link">
                            <p>开发部分</p>
                        </a>
                    </summary>
                    <div>
                        <div class="md-toc-link-wrapper"
                            style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                            <a href="#技术栈" class="md-toc-link">
                                <p>技术栈</p>
                            </a>
                        </div>
                        <div class="md-toc-link-wrapper"
                            style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                            <a href="#开发流程" class="md-toc-link">
                                <p>开发流程</p>
                            </a>
                        </div>
                    </div>
                </details>
                <details style="padding:0;;padding-left:24px;" open="">
                    <summary class="md-toc-link-wrapper">
                        <a href="#使用部分" class="md-toc-link">
                            <p>使用部分</p>
                        </a>
                    </summary>
                    <div>
                        <div class="md-toc-link-wrapper"
                            style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                            <a href="#注册与登录" class="md-toc-link">
                                <p>注册与登录</p>
                            </a>
                        </div>
                        <div class="md-toc-link-wrapper"
                            style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                            <a href="#文献检索" class="md-toc-link">
                                <p>文献检索</p>
                            </a>
                        </div>
                        <div class="md-toc-link-wrapper"
                            style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                            <a href="#历史记录" class="md-toc-link">
                                <p>历史记录</p>
                            </a>
                        </div>
                        <div class="md-toc-link-wrapper"
                            style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                            <a href="#文献详情" class="md-toc-link">
                                <p>文献详情</p>
                            </a>
                        </div>
                        <div class="md-toc-link-wrapper"
                            style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                            <a href="#联系我们" class="md-toc-link">
                                <p>联系我们</p>
                            </a>
                        </div>
                    </div>
                </details>
                <div class="md-toc-link-wrapper"
                    style="padding:0;;display:list-item;list-style:square;margin-left:42px">
                    <a href="#结语" class="md-toc-link">
                        <p>结语</p>
                    </a>
                </div>
            </div>
        </details>
    </div>

    <div class="right-column">
        <div class="right-column">
            <h2 id="简介">简介 </h2>
            <p>该文档旨在介绍文献搜索网站的开发和使用方法，帮助用户更好地利用该平台进行文献检索。</p>
            <h2 id="开发部分">开发部分 </h2>
            <h3 id="技术栈">技术栈 </h3>
            <ul>
                <li>前端：HTML, CSS, JavaScript</li>
                <li>后端：Python框架</li>
                <li>数据库：MySQL</li>
            </ul>
            <h3 id="开发流程">开发流程 </h3>
            <ol>
                <li>设计数据库结构，包括文献信息、用户信息等表的设计。</li>
                <li>搭建后端框架，实现用户注册登录、文献检索、收藏文献等功能。</li>
                <li>开发前端界面，包括搜索页面、个人中心等页面的设计和实现。</li>
                <li>进行测试和优化，确保网站稳定性和用户体验。</li>
            </ol>
            <h2 id="使用部分">使用部分 </h2>
            <h3 id="注册与登录">注册与登录 </h3>
            <ul>
                <li>访问网站首页，点击“注册”按钮进行账号注册。</li>
                <li>已有账号的用户可以直接输入用户名和密码登录。<br>
                    <img src="/static/images/example_pic4.png" alt="登陆页面">
                </li>
            </ul>
            <h3 id="文献检索">文献检索 </h3>
            <ul>
                <li>在搜索框中输入关键词，点击搜索按钮进行文献检索。</li>
                <li>可以根据作者、标题、关键词等信息进行高级检索。<br>
                    <img src="/static/images/example_pic3.png" alt="搜索框">
                </li>
            </ul>
            <h3 id="历史记录">历史记录 </h3>
            <ul>
                <li>用户可以点击历史记录按钮查看文献搜索历史记录。<br>
                    <img src="/static/images/example_pic5.jpg" alt="历史记录">
                </li>
            </ul>
            <h3 id="文献详情">文献详情 </h3>
            <ul>
                <li>点击所查询的文献即跳转到具体信息界面</li>
                <li>示例<br>
                    <img src="/static/images/example_pic1.png" alt="示例"><br>
                    <img src="/static/images/example_pic2.png" alt="示例">
                </li>
            </ul>
            <h3 id="联系我们">联系我们 </h3>
            <ul>
                <li>如有任何问题或建议，用户可以通过网站提供的联系方式与我们取得联系。</li>
            </ul>
            <h2 id="结语">结语 </h2>
            <p>文献搜索网站旨在为用户提供便捷的文献检索和分享平台，希望用户能够借助该平台找到所需的学术资源，并与他人分享自己的研究成果。</p>
            <hr>
            <p><strong>注意：帮助文档随时都在更新或增加类容，如您查看的帮助文档没有更新请清除浏览器缓存再重新打开。</strong></p>
            <h4
                id="a-hrefhttpsgiteecomyiqian7aliterature-search-websitegit-target_blank-stylefont-size16pxcolorred-网站源码地址a">
                <a href="https://gitee.com/Yiqian7a/literature-search-website.git" target="_blank"
                    style="font-size:16px;color:red;">网站源码地址</a> </h4>
            <hr>
            <p><a href="https://www.webofscience.com/wos/" target="_blank"
                    style="font-size:18px;">https://www.webofscience.com/wos/---web of science网站</a></p>
            <p><a href="" target="_blank" style="font-size:18px;"></a></p>
            <p><a href="" target="_blank" style="font-size:18px;"></a></p>
            <p><a href="" target="_blank" style="font-size:18px;"></a></p>
            <hr>
        </div>
    </div>
</div>