<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>empty</title>
    <style>
        .main-container {
            flex-direction: column;
        }
        .main-container h2 {
            margin-top: 20%;
            top: 25%;
            color: #f8f8f8;
            text-align: center;
        }
    </style>
</head>

<body>
<header>
    <script src="/static/common_header.js"></script>
</header>

<main class="main-container">
    <h2>即将开放，敬请期待！</h2>
</main>

{#<script src="/static/common.js"></script>#}

<footer>
    &copy; 2023 文献搜索. All rights reserved.
</footer>

</body>
</html>