<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header>
    <div class="top-container">
        <div>
            <a href="/index">首页</a>
            <a href="/index">开放平台</a>
            <a href="/index">科研热点</a>
            <a href="/index">期刊顶会</a>
        </div>
        <div class="user-profile">
            <div class="logged-in-info">
                <div class="username"><i class="fas fa-user"></i>已登录：{{ username }}</div>
                <div class="dropdown-content">
                    <a href="/history">浏览历史</a>
                    <a href="#">个人主页</a>
                    <a href="#">我的关注</a>
                    <a href="/logout">退出登录</a>
                </div>
            </div>
        </div>
    </div>

    <h1>AI智能文献搜索</h1>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="搜索作者、标题...">
        <button type="submit" class="search-button"><i style="font-size: 150%;" class="fas fa-search"></i></button>
    </div>
</header>

<main class="main-container">
    <div class="left-column">
        <h2>文 献 列 表</h2>
        <div id="literature-container">

        </div>
    </div>

    <div class="right-column">
        <div class="slider-container">
            <div class="slider">
                <img src="/static/images/index_pic1.png" alt="Image 1">
                <img src="/static/images/index_pic2.png" alt="Image 2">
                <img src="/static/images/index_pic3.png" alt="Image 3">
            </div>
        </div>

        <div class="chatbot-container">
            <div id="chatbot-window" class="chatbot-window">AI智能文献搜索框
                <div id="chatbot-messages" class="chatbot-messages"></div>
            </div>
            <div class="chatbot-input">
                <input type="text" id="user-input" placeholder="请输入您的问题">
                <button id="send-button">发送</button>
            </div>
        </div>
    </div>
</main>

<div class="pagination"></div>

<script>
    var literatureData = {{ literatureData | safe }};
    console.log(literatureData);
    console.log(literatureData[0]);
    // 每页显示的新闻数
    const literaturePerPage = 5;


    // 计算总页数
    const totalPages = Math.ceil(literatureData.length / literaturePerPage);

    // 初始化当前页码
    let currentPage = 1;

    // 获取新闻容器和翻页容器
    const literatureContainer = document.getElementById("literature-container");
    const paginationContainer = document.querySelector(".pagination");

    // 显示当前页的新闻
    function showPage(page) {
        // 更新当前页码
        currentPage = page;

        // 计算起始索引和结束索引
        const startIndex = (page - 1) * literaturePerPage;
        const endIndex = startIndex + literaturePerPage;

        // 清空新闻容器中的内容
        literatureContainer.innerHTML = "";

        // 遍历新闻数据，显示当前页的新闻
        for (let i = startIndex; i < endIndex && i < literatureData.length; i++) {
            const literatureItem = literatureData[i];
            const literatureElement = document.createElement("div");
            literatureElement.addEventListener("click", function (event) {
                // 判断点击的元素是否为新闻标题或内容
                if (event.target.classList.contains("literature-link")) {
                    window.location.href = "/detailed_information?doc_id=" + literatureItem.id;
                }
            });
            literatureElement.classList.add("literature-item");
            literatureElement.innerHTML = `
                <h2 class="literature-link">${literatureItem.TI}</a></h2>
                <p class="literature-link">作者：${literatureItem.AU}</a></p>
                <p class="literature-link">发布日期：${literatureItem.PY} ${literatureItem.PD}</a></p>
            `;
            literatureContainer.appendChild(literatureElement);
        }


        // 更新翻页导航栏
        updatePagination();
    }

    // 更新翻页导航栏
    function updatePagination() {
        // 生成翻页链接
        let paginationHTML = "";
        for (let i = 1; i <= totalPages; i++) {
            if (i === currentPage) {
                paginationHTML += `
                <a href="#" class="active">${i}</a>
                `;
            } else {
                paginationHTML += `
                <a href="#" onclick="showPage(${i})">${i}</a>
            `;
            }
        }

        // 更新翻页容器中的内容
        paginationContainer.innerHTML = paginationHTML;
    }
    // 显示第一页的新闻
    showPage(1);


    const slider = document.querySelector('.slider');
    let isDown = false;
    let startX;
    let scrollLeft;


    // 鼠标移动到用户上显示用户信息
    slider.addEventListener('mousemove', (e) => {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - slider.offsetLeft;
      const walk = (x - startX) * 3;
      slider.scrollLeft = scrollLeft - walk;
    });


    // 鼠标离开用户收起用户信息
    slider.addEventListener('mouseleave', () => {
      isDown = false;
    });

    // 自动切换图片
    let current = 0;
    const images = document.querySelectorAll('.slider img');
    setInterval(() => {
      current = (current + 1) % images.length;
      slider.style.transform = `translateX(-${current * 33.3333}%)`;
    }, 3000);
</script>


<footer>
    &copy; 2023 文献搜索. All rights reserved.
</footer>
</body>
</html>