<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title id="private-title">文献搜索：首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.25">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" id="private-css" href="/static/css/home.css">
</head>

<body>
<header>
    <div class="top-container">
        <div>
            <a href="/index">首页</a>
            <a href="/empty">开放平台</a>
            <a href="/empty">科研热点</a>
            <a href="/empty">期刊顶会</a>
        </div>
        <div class="user-profile">
            <div class="logged-in-info">
                <div class="username"><i class="fas fa-user"></i>已登录：{{ username }}</div>
                <div class="dropdown-content">
                    <a href="/history">浏览历史</a>
                    <a href="/empty">个人主页</a>
                    <a href="/empty">我的关注</a>
                    <a href="/logout">退出登录</a>
                </div>
            </div>
        </div>
    </div>

    <h1>AI智能文献搜索</h1>
    <div class="search-container">
        <input type="text" id="search-input" class="search-input" placeholder="搜索作者、标题...">
        <button type="submit" class="search-button" onclick="search()">
            <i style="font-size: 150%;" class="fas fa-search"></i>
        </button>
    </div>
</header>

<main class="main">
</main>

<footer>
    &copy; 糖式组. All rights reserved. &nbsp;&nbsp;&nbsp;
    <a href="https://gitee.com/Yiqian7a/literature-search-website">前往Gitee仓库</a>
</footer>

<script>

</script>

<script type="module" src="/static/js/index.js"></script>
<script type="module" id="private-js"></script>
</body>
</html>